.collections {
    position: relative;
    margin-top: 10%;
    color: rgb(135, 135, 135);
}

.title {
    position: absolute;
    font-size: 8vw;
    left: 5%;
    top: 16vw;
    color: rgb(213, 213, 213);
}

.button-3 {
    position: absolute;
    bottom: 9vw;
    left: 10%;
    padding: 1vw 4vw;
    font-size: 1vw;
    border: 1px solid rgb(135, 135, 135);
    background-color: rgb(29, 29, 29);
    color: rgb(193, 193, 193);
    align-items: center;
    transition: all 0.15s;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}

.button-3:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.589);
}

.button-3:active {
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0);
}